body {
    width: auto;
    height: auto;
    background-position: center;
    background-size:contain;
    background-repeat: repeat;
    background-image: url('../images/body-bg/body_bg_s@x1.jpg');
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/body-bg/body_bg_s@2x.jpg');
        }
    
        @media screen and(min-width:480.98px) {
            background-image: url('../images/body-bg/body_bg_m@x1.jpg');
    
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/body-bg/body_bg_m@x2.jpg');
            }
        }
    
        @media screen and(min-width:768.98px) {
            background-image: url('../images/body-bg/body_bg_l@x1.jpg');
    
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('../images/body-bg/body_bg_l@2x.jpg');            }
        }
                animation: moveSlideshow 180s linear infinite;
                }
        
        @keyframes moveSlideshow {
            // 0% {
            //     background-position: 0vw 0vh;
            //     }

            // 50% {
            //      background-position: -50vw -100vh;
            //     }

            100% {
                 background-position: 150vw 400vh;
                }

    }