// кнопка Hero//
.body{
    background-color: 
    rgba(132, 161, 120, 1);
}
.button {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
	background-color: inherit;
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.25;
}
.button,
.hero__button {
	color: #000000;
	min-width: 108px;
	border-radius: 4px;
	padding: 11px 26px;
    border: 2px solid #F8D24E;
    border-radius: 8px;

	transition: color 250ms;

    &:hover {
   border-color: #0A8817;
}
&:focus {
color: #FCFCFC;
    }
    
@media screen and (min-width: 1200px) {
    font-size: 14px;
    min-width: 134px;
    padding: 12px 34px;
    line-height: 1.29;
    
    }
}
.hero__button-disabled {
border-color: 
    rgba(171, 171, 171, 1);
    &:hover,
    &:focus {
        color: #000000;
        border-color: 
        rgba(171, 171, 171, 1);
    }
}
.hero__button-second {
	color:  #F8D24E;;
	min-width: 106px;
	padding: 11px 26px;
    border: transparent;
    text-decoration-line: underline;

 &:hover {
    color: #0A8817;
}
 &:focus {
    color: #FCFCFC;
}
}  
.hero__button-second-disabled {
    color: 
    rgba(171, 171, 171, 1);
    border: none;
    &:hover,
    &:focus {
        color: rgba(171, 171, 171, 1);
        border-color: 
        rgba(171, 171, 171, 1);
    }
}
