// кнопка Hero//
.hero__button {
    display: flex;
    align-items: center;
    text-align: center;
	color: #000000;
    font-family: 'Montserrat';
    font-style: normal;
	background-color: inherit;
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.25;
	min-width: 108px;
	border-radius: 4px;
	padding: 11px 26px;
    border: 2px solid #F8D24E;
    border-radius: 8px;


	transition: color 250ms;

    &:hover {
   border-color: #0A8817;
}
@media screen and (min-width: 1200px) {
    font-size: 14px;
    min-width: 134px;
    padding: 12px 34px;
    line-height: 1.29;

    &:focus {
color: #FCFCFC;
    }
    &:disabled {
        border-color: 
        rgba(171, 171, 171, 1);
    }
}
}