body {
  background-color: #84a178;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.contacts {
  width: 1200px;
  padding-right: 17px;
  padding-left: 17px;
}

.contacts__list {
  display: flex;
  gap: 32px;

  margin-bottom: 60px;
}

.contacts__item {
  width: 368px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  padding: 40px;
}

.contacts__type {
  box-sizing: border-box;
  height: 30px;
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  letter-spacing: 0.04em;

  color: #131313;

  padding: 4px 14px;

  background: #f8d24e;
  border-radius: 6px;
}

.contacts__address--top {
  font-style: normal;
  margin-top: 32px;
  margin-bottom: 32px;
}

.contacts__city {
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;

  letter-spacing: 0.04em;

  color: #131313;
  margin-bottom: 8px;
}

.contacts__map {
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 183%;

  letter-spacing: 0.04em;

  color: #d6936d;
}

.contacts__timetable {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 31px;
  padding-bottom: 31px;
}

.contacts__timelist:first-child {
  margin-bottom: 12px;
}

.contacts__day {
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;

  letter-spacing: 0.04em;

  color: #131313;
}

.contacts__hour {
  font-size: 16px;
  line-height: 186%;

  color: #ababab;
}

.contacts__address {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #131313;
  margin-top: 32px;
}

.contacts__mail,
.contacts__tel {
  font-family: inherit;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #131313;
}

/* button */

.contacts__btns {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.reviews__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  background-color: #f8d24e;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  min-width: 196px;
  padding: 12px;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #0a8817;
    border-color: #0a8817;
  }
  &:focus {
    color: #fcfcfc;
    background-color: #0a8817;
    border-color: #0a8817;
  }
  &:disabled {
    background-color: rgba(171, 171, 171, 1);
    border-color: rgba(171, 171, 171, 1);
  }
}

.reviews__button-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  background-color: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  min-width: 196px;
  padding: 12px;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: #0a8817;
  }
  &:focus {
    color: #fcfcfc;
    border-color: #0a8817;
  }
  &:disabled {
    border-color: rgba(171, 171, 171, 1);
  }
}
