:root {
  --swiper-theme-color: #84A178;
}
.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 ;
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }

  @media screen and (max-width: 768px) {
    width: 480px;
  }

}

.container-slider {
  box-sizing: border-box;
  position: relative;
  width: 1013px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 705px;
  }

  @media screen and (max-width: 768px) {
    width: 480px;
  }
}

.customer-review {
  width: 968px;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
}

.review-data {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.reviewer-photo {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}


.review-text {
  width: 923px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.04em;
color: #FCFCFC;
background-color: #84A178;
border-radius: 24px;
padding: 39px 74px;
margin: 0 auto;
margin-bottom: 32px;
}

.reviewer-name {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #131313;
  margin: 0;
  margin-bottom: 32px;

  // @media screen and (min-width: 768px)  {
  //   margin-bottom: 32px;
  // }
}

.swiper-slide {
  padding-bottom: 22px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 10px;
  }
}

.swiper-pagination {
  margin-top: 20px;
  // color: #84A178;
}

.customer-reviews {
  padding-bottom: 100px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 80px;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 40px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-slider {
    width: 705px;
  }

  .customer-review {
    width: 705px;
    align-items: center;
  }
  
  .review-text {
  width: 705px;
  height: 138px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  background-color: #84A178;
  border-radius: 24px;
  padding: 28px 80px;
  margin: 0 auto;
  margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .customer-review {
    width: 480px;
    align-items: center;
  }
  
  .review-text {
  width: 280px;
  height: 256px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  background-color: #84A178;
  border-radius: 24px;
  padding: 35px 39px;
  margin: 0 auto;
  margin-bottom: 32px;
  }
  
  .reviewer-name {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 12px;
  }
}


