.slider {
  height: 1053px;
  width: 1200px;
}

.customer-reviews {
  width: 1200px;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
}

.review-image {
  max-width: 1013px;
  height: 422px;
  text-align: center;
  margin-bottom: 140px;
  margin-left: auto;
  margin-right: auto;
}

.review-data {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.reviewer-photo {
  width: 85px;
  height: 85px;
  margin-bottom: 32px;
}

.review-text {
  width: 923px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.04em;
color: #FCFCFC;
background-color: #84A178;
border-radius: 24px;
padding: 43px 74px 41px 73px;
margin: 0 auto;
margin-bottom: 32px;
}

.reviewer-name {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #131313;
  margin: 0;
  margin-bottom: 32px;
}


@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .customer-reviews {
    width: 768px;
    align-items: center;
  }

  .review-image {
    max-width: 704px;
    height: auto;
    text-align: center;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .review-data {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .reviewer-photo {
    width: 85px;
    height: 85px;
    margin-bottom: 32px;
  }
  
  .review-text {
    width: 705px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  background-color: #84A178;
  border-radius: 24px;
  padding: 28px 80px 29px 80px;
  margin: 0 auto;
  }
}



@media screen and (max-width: 767.99px) {
  .customer-reviews {
    width: 480px;
    align-items: center;
  }

  .review-image {
    max-width: 280px;
    height: auto;
    text-align: center;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .review-data {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .reviewer-photo {
    width: 85px;
    height: 85px;
    margin-bottom: 32px;
  }
  
  .review-text {
    width: 280px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  background-color: #84A178;
  border-radius: 24px;
  padding: 35px 39px;
  margin: 0 auto;
  }
  
  .reviewer-name {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
  }
}




// .customer-reviews {
//     max-width: 1332px;
//     height: 1053px;
//     margin: 0 auto;
//     background-repeat: no-repeat;
//     background-size: cover;

//     // --mobile-- //
//   background-image: 
//   url(../images//CustomerReviews/Mobile/Backgroud_mobile@1x.jpg);

//    // --retina--//
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   background-image: 
//     url(../images//CustomerReviews/Mobile/Backgroud_mobile@2x.jpg);
//   background-size: cover;
// }

//    // --tablet--//
// @media screen and (min-width: 481px) {
//   background-image: 
//     url(../images///CustomerReviews/Tablet/Background_tablet@1x.jpg);
//   }

//    // --retina tablet --//
//   @media (min-device-pixel-ratio: 2),
//     (-webkit-min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: 
//       url(../images///CustomerReviews/Tablet/Background_tablet@2x.jpg);
//     background-size: cover;
//   }
  

//      // --desktop--//
// @media screen and (min-width: 769px) {
//   background-image: 
//     url(../images//CustomerReviews/Desktop/Backgroud_desktop@1x.jpg);

//     // --retina desktop screen--//

//   @media (min-device-pixel-ratio: 2),
//     (-webkit-min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: 
//       url(../images//CustomerReviews/Desktop/Backgroud_desktop@2x.jpg);
//     background-size: cover;
//   }
// }

// }