.site-nav__logo {
  text-decoration: none;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.site-nav__btn {
  display: block;
  border: none;
  fill: #ffffff;

  &:hover &__svg,
  &:focus &__svg {
    color: var(--effects-color);
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
site-nav__svg {
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
