
/* Розділ resset (тимчасовий) */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Розділ базових налаштвань (тимчасовий) */

.hero__left-wrap {
  outline: 2px solid red;
  outline-offset: -2px;
}

.guide-wrap__item {
  outline: 2px solid red;
  outline-offset: -2px;
}

.hero-service__wrap {
  outline: 2px solid red;
  outline-offset: -2px;
}

/* позиціонування елементів */

.hero {
  border: 0;
  background-color: #84A278;
}

.hero--overlay {
  max-width: 1200px;
  min-height: 599px;
  margin: 0 auto;
    
  @media screen and (max-width: 680px) {
    background-size: contain, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom;
    max-width: 320px;
    min-height: 502px;
  }

  @media screen and (min-width: 681px) and (max-width: 1199px) {
    background-size: contain, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, left 32px bottom 12px;
    max-width: 768px;
    min-height: 415px;
  }
  
  @media screen and (min-width: 1200px) {
    background-size: contain, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, left 16px bottom 67px;
  }
}

.hero--overlay {
    background-image: url("../images/img-hero/png/mobile-point-line.png"),
    url("../images/img-hero/png/mobile-smile-icecream.png");
}

@media (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: url("../images/img-hero/png/mobile-point-line-2x.png"),
    url("../images/img-hero/png/mobile-smile-icecream-2x.png");
    }
}

@media (min-width: 681px) {
  .hero--overlay {
    background-image: url("../images/img-hero/png/tablet-point-line.png"),
      url("../images/img-hero/png/tablet-hero-plate-icecream.png");
  }

  @media (min-resolution: 2dppx) {
    .hero--overlay {
      background-image: url("../images/img-hero/png/tablet-point-line-2x.png"),
        url("../images/img-hero/png/tablet-hero-plate-icecream-2x.png");
    }
  }
}

@media (min-width: 1200px) {
  .hero--overlay {
    background-image: url("../images/img-hero/png/point-line.png"),
      url("../images/img-hero/png/hero-plate-icecream.png");
  }
    
  @media (min-resolution: 2dppx) {
    .hero--overlay {
      background-image: url("../images/img-hero/png/point-line-2x.png"),
        url("../images/img-hero/png/hero-plate-icecream-2x.png");
    }
  }
}

.container {
  outline: 2px solid red;
  outline-offset: -2px;

  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px 0 16px;
  border: 0;
}

.hero__title {

  outline: 2px solid red;
  outline-offset: -2px;

  margin-top: 45px;
  width: 367px;

  font-family: Seymour One, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  color: #FCFCFC;
}

.guide-wrap {
  margin-top: 28px;
}

.guide-wrap__list {
  display: flex;
  align-items: flex-start;
}

.guide-wrap__item-btn {
  width: 134px;
  height: 42px;

  margin-right: 12px;
  border: 2px solid;
  border-color: #F8D24E;
  border-radius: 4px;

  text-align: center;

  .guide-wrap__link {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    /* identical to box height, or 129% */
    
    color: #131313;
  }

}

.guide-wrap__link {
  display: inline-block;
  width: 100%;
  padding: 12px 0 12px 0;
}

.guide-wrap__item-ref {
  width: 154px;
  height: 40px;
  
  margin-right: 12px;
  border: 2px solid;
  border-color: #F8D24E;
  border-radius: 4px;
  
  text-align: center;

  .guide-wrap__link {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    /* identical to box height */
    
    text-decoration-line: underline;
    
    color: #F8D24E;
   }
  }

.features-wrap {
  outline: 2px solid red;
  outline-offset: -2px;

  margin-top: 111px;
  margin-left: 257px;

  width: 200px;

  @media screen and (max-width: 680px) {
    display: none;
  }

  @media screen and (min-width: 681px) {
    margin-top: 46px;
    margin-left: 216px;
    
    width: 139px;
    
  }
}

.overlay-wrap {
  outline: 2px solid red;
  outline-offset: -2px;

  align-self: flex-end;

  position: relative;
  overflow: hidden;
  height: 80px;
}

.hero-features__icon {
  outline: 2px solid red;
  outline-offset: -2px;

  margin-top: 24px;
}

.hero-features__overlay {
  width: 200px;
    
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
}

.hero-features__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  color: #FCFCFC;
}

.features-wrap__link {
  width: 100%;
}

.features-wrap__link:hover .hero-features__overlay {
  transform: translateY(0);
}

.features-wrap__link:focus .hero-features__overlay {
  transform: translateY(0);
}

.hero__right-wrap {
  outline: 2px solid red;
  outline-offset: -2px;

  display: flex;

  @media screen and (max-width: 680px) {
    display: none;
  }
}

.image-wrap {
  outline: 2px solid red;
  outline-offset: -2px;

  margin-top: 39px;

  @media screen and (min-width: 681px) and (max-width: 1199px) {
    margin-top: 86px;
  }
}

.hero-main__image {
  @media screen and (max-width: 680px) {
    width: 177px;
    height: 217px;
  }
  
  @media screen and (min-width: 681px) {
    width: 268px;
    height: 329px;
  }
  
  @media screen and (min-width: 1200px) {
    width: 456px;
    height: 560px;
  }
}

.hero-service__item-cafes {
  outline: 2px solid red;
  outline-offset: -2px;

  margin-top: 53px;
  margin-left: 24px;

  text-align: right;
}

.hero-service__item-trucks {
  outline: 2px solid red;
  outline-offset: -2px;

  margin-top: 16px;

  text-align: right;
}

.hero-service__numb {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  color: #131313;
}

.hero-service__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  /* identical to box height */
  
  text-align: right;
  
  color: #FCFCFC;
}

