html {
    scroll-behavior: smooth;
  }
    
  #scrollTop {
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 40px;
    z-index: 100;
    fill: #f8d24e;
   
    @media screen and (min-width: 768px) {
      bottom: 50px;
      right: 30px;
    }
  
    @media screen and (min-width: 1200px) {
      bottom: 70px;
      right: 50px;
    }
  }
  
  .isShowBtn {
cursor: url(../images/cursor.png), pointer;
    opacity: 1;
  
    &_hide {
      opacity: 0;
      transition: .4s;
cursor: auto;    }
  }