<section class="section advantages-section">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages list">
            <li class="advantages__box">
                <div class="advantages__item">
                    <a class="link" href="">
                    <svg class="advantages__icon" width="36" height="36">
                        <use href="./images/iconsSprite.svg#icon-cow"></use>
                    </svg>
                    </a>
                </div>
                <h3 data-digits-counter class="advantages__title">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__box">
                <div class="advantages__item">
                    <a class="link" href="">     
                    <svg class="advantages__icon" width="36" height="36">
                        <use href="./images/iconsSprite.svg#icon-weight"></use>
                    </svg>
                    </a>
                </div>
                <div class="advantages__wrapper">
                    <div class="advantages__wrapper-counter">
                        <h3 data-digits-counter class="advantages__title advantages__counter">16</h3><p class="advantages__title advantages__counter">kg</p>
                    </div>
                    <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>
            <li class="advantages__box">
                <div class="advantages__item">
                    <a class="link" href="">
                    <svg class="advantages__icon" width="36" height="36">
                        <use href="./images/iconsSprite.svg#icon-ice-crema"></use>
                    </svg>
                    </a>
                </div>
                <h3 data-digits-counter class="advantages__title">84</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>