<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <!-- Кнопки для Героя -->
    <button type="button" class="hero__button">Products</button>
    <button type="button" class="hero__button">Products</button>
    
    <button type="button" class="hero__button-second">How it’s made?</button>
    <button type="button" class="hero__button-second">How it’s made?</button>
   <!-- -------- -->

    <!-- Кнопки для секції About -->
    <button type="button" class="about__button">Read more</button>
    <button type="button" class="about__button-disabled">Read more</button>
    <!-- -------- -->
</body>
</html>