<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <!-- Кнопки для Героя -->
    <button type="button" class="hero__button">Products</button>
    <button type="button" class="hero__button" disabled>Products</button>
    <button type="button" class="hero__button-second">How it’s made?</button>
    <button type="button" class="hero__button-second"disabled>How it’s made?</button>
    <button type="button" class="hero__button-offer">Buy now
        <svg class="button-icon" width="12" height="12">
          <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
        </svg>
    </button>
    <button type="button" class="hero__button-offer" disabled>Buy now
        <svg class="button-icon" width="12" height="12">
            <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
          </svg>
    </button>
   <!-- -------- -->

    <!-- Кнопки для секції About -->
    <button type="button" class="about__button">Read more
        <svg class="button-icon" width="12" height="12">
          <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
        </svg>
    </button>
    <button type="button" class="about__button" disabled>Read more
        <svg class="button-icon" width="12" height="12">
            <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
          </svg>
    </button>
    <!-- -------- -->
    <!-- Кнопки для секції Customer reviews -->
    <button type="button" class="reviews__button">Our Locations
        <svg class="button-icon" width="12" height="12">
          <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
        </svg>
    </button>
    <button type="button" class="reviews__button" disabled>Our Locations
        <svg class="button-icon" width="12" height="12">
            <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
          </svg>
    </button>
    <button type="button" class="reviews__button-agreement">Franchise
        <svg class="button-icon" width="12" height="12">
          <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
        </svg>
    </button>
    <button type="button" class="reviews__button-agreement" disabled>Franchise
        <svg class="button-icon" width="12" height="12">
            <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
          </svg>
    </button>

</body>
</html>