<section class="contacts section">
  <div class="container">
    <h1 class="visually-hidden">Contacts</h1>

    <ul class="contacts__list list">
      <li class="contacts__item">
        <p class="contacts__type">CAFE</p>

        <address class="contacts__address--top first">
          <p class="contacts__city">Chicago</p>
          <a
            class="contacts__map link"
            href="https://goo.gl/maps/LFqYLLsRp1CZDVA68"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>

        <ul class="contacts__timetable list">
          <li class="contacts__timelist">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__hour">06:00 AM - 10:00 PM</p>
          </li>

          <li class="contacts__timelist">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__hour">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <address class="contacts__address">
          <a
            class="contacts__tel link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="contacts__mail link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>

      <li class="contacts__item">
        <p class="contacts__type">FOOD TRUCK</p>

        <address class="contacts__address--top middle">
          <p class="contacts__city">Los Angeles</p>
          <a
            class="contacts__map link"
            href="https://goo.gl/maps/oEnozrf73ghhomUS6"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>

        <ul class="contacts__timetable list">
          <li class="contacts__timelist">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__hour">06:00 AM - 10:00 PM</p>
          </li>

          <li class="contacts__timelist">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__hour">07:00 AM - 17:00 PM</p>
          </li>
        </ul>

        <address class="contacts__address">
          <a
            class="contacts__tel link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="tel:+61(0)383766589"
            >+61(0) 383 766 589</a
          >
          <a
            class="contacts__mail link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>

      <li class="contacts__item">
        <p class="contacts__type">CAFE</p>

        <address class="contacts__address--top last">
          <p class="contacts__city">New York</p>
          <a
            class="contacts__map link"
            href="https://goo.gl/maps/EesxmtSx9zUb8TuZ6"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>

        <ul class="contacts__timetable list">
          <li class="contacts__timelist">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__hour">06:00 AM - 10:00 PM</p>
          </li>

          <li class="contacts__timelist">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__hour">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <address class="contacts__address">
          <a
            class="contacts__tel link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="tel:+61(0)383766812"
            >+61(0) 383 766 812</a
          >
          <a
            class="contacts__mail link"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
    <div class="contacts__btns">
      <button type="button" class="reviews__button" data-modal-open5>
        Our Locations
        <svg class="button-icon" width="12" height="12">
          <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
        </svg>
      </button>
      <!-- <button type="button" class="reviews__button" disabled>
        Our Locations
        <svg class="button-icon" width="12" height="12">
          <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
        </svg>
      </button> -->
      <button type="button" class="reviews__button-agreement" data-modal-open6>
        Franchise
        <svg class="button-icon" width="12" height="12">
          <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
        </svg>
      </button>
      <!-- <button type="button" class="reviews__button-agreement" disabled>
        Franchise
        <svg class="button-icon" width="12" height="12">
          <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
        </svg>
      </button> -->
    </div>
  </div>
</section> 


    <!-- Модалка мапа Полтави -->
    <div class="backdrop is-hidden" data-modal5>
      <div class="modal">
          <button type="button" class="modal__btn" data-modal-close9>
          <svg class="icon-cloce-black" width="24" height="24">
          <use href="./images/iconsSprite.svg#icon-cloce-black"></use>
          </svg>
          </button>
          <p class="modal-heading">Our Locations</p>
          <iframe class="modal-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.74740992187!2d34.48719890077642!3d49.60202332106918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1suk!2sua!4v1672088620853!5m2!1suk!2sua" 
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
          <button class="button-modal-submit" type="submit" onClick="location.href='https://goo.gl/maps/XzLzhx87Stx5TUyM9'">Open map</button>
      </div>
  </div>
  <!-- Модалка франшиза -->
  <div class="backdrop is-hidden" data-modal6>
      <div class="modal-franch ">
          <button type="button" class="modal__btn" data-modal-close8>
          <svg class="icon-cloce-black">
          <use href="./images/iconsSprite.svg#icon-cloce-black"></use>
          </svg>
          </button>
          <p class="modal-heading-franchise">Thank you for your interest in owning an Ice Cream shop</p>
          <p class="modal__text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
      <form class="modal-form">
          <div class="form__field">
              <input
              class="modal__input"
              type="text"
              name="name-field"
              id="name"
              placeholder="Name"
              />
          </div>
          <div class="form__field">
              <input
              class="modal__input"
              type="text"
              name="name-field"
              id="phone"
              placeholder="Phone"
              />
          </div>
          <div class="form__field">
              <input
              class="modal__input"
              type="text"
              name="name-field"
              id="email"
              placeholder="Email"
              />
          </div>
          <div class="modal__textarea">
              <textarea
                class="modal__form-message"
                name="message"
                id="message"
                rows="4"
                placeholder="Comment"
                ></textarea>
          </div> 
          <button class="button-modal-submit" type="submit">Submit</button>
          </form>
      </div>
      </div>

      <script src="./js/contacts.js"></script>