<footer class="footer">
    <p class="footer__title">homemade ice cream made</p>
    <p class="footer__title-second">with passion</p>
    <ul class="socials list">
        <li class="socials__list">
            <a
                class="socials__link-footer"
                href="https://github.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Github"
            >
                <svg class="socials__icon" width="34" height="34">
                    <use href="./images/iconsSprite.svg#icon-github"></use>
                </svg>
            </a>
        </li>
                <li class="socials__list">
            <a
                class="socials__link-footer"
                href="https://telegram.org"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Telegram"
            >
                <svg class="socials__icon" width="34" height="34">
                    <use href="./images/iconsSprite.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="socials__list">
            <a
                class="socials__link-footer"
                href="https://facebook.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook"
            >
                <svg class="socials__icon" width="34" height="34">
                    <use href="./images/iconsSprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        
    </ul>
</footer>