<!--Header-->
<header class="page-head">
  <div class="container">
    <nav class="site-nav">
      <a class="site-nav__logo" href="" lang="en">
        <svg class="site-nav__logo-icon" width="48" height="44">
          <use href="./images/iconsSprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        class="site-nav__btn js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
      >
        <svg
          class="site-nav__svg"
          width="32"
          height="32"
          aria-label="перемикач мобільного меню"
        >
          <use href="./images/iconsSprite.svg#icon-menu-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
