<!--Header-->
<header class="page-head">
  <div class="container">
    <nav class="site-nav">
      <a class="site-nav__logo" href="" lang="en">
        <svg class="site-nav__logo-icon" width="48" height="44">
          <use href="./images/iconsSprite.svg#icon-logo"></use>
        </svg>
      </a>

      
      <div class="site-nav__left-box">
      <button
        class="site-nav__btn js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
      >
        <svg
          class="site-nav__svg"
          width="32"
          height="32"
          aria-label="перемикач мобільного меню">
          <use href="./images/iconsSprite.svg#icon-menu-burger"></use>
        </svg>
      </button>

      <button data-modal2-open type="button" class="mobile-menu__btn-modal2"> <p class="mobile-menu__btn-text">Buy now</p> <svg class="mobile-menu__btn-icon" class="" width="12" height="12">
              <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
            </svg> </button>
         </div> 

      
      
         <!--Mobile menu-->
      <div class="menu-container js-menu-container" id="menu-container">
        <nav class="menu-nav">
        <a class="menu-nav__logo" href="" lang="en">
        <svg class="menu-nav__logo-icon" width="48" height="44">
          <use href="./images/iconsSprite.svg#icon-logo"></use>
        </svg>
       </a>
						<button class="menu-toggle js-close-menu">
							<svg class="menu-toggle__icon-close" width="32" height="32">
								<use href="./images/iconsSprite.svg#icon-close-white">
							</svg>
						</button>         
           </nav>

						<ul class="mobile-menu">
							<li class="mobile-menu__item">
								<a class="mobile-menu__link mobile-menu__link--current" href="">Home</a>
							</li>
							<li class="mobile-menu__item"><a class="mobile-menu__link" href="">How it’s made?</a></li>
							<li class="mobile-menu__item"><a class="mobile-menu__link" href="">Our products</a></li>
              <li class="mobile-menu__item"><a class="mobile-menu__link" href="">Contact</a></li>
						</ul>
           <div class="mobile-menu__box-btn">
						<button data-modal-m-menu-open type="button" class="mobile-menu__btn-modal"> <p class="mobile-menu__btn-text">Buy now</p> <svg class="mobile-menu__btn-icon" class="" width="12" height="12">
              <use href="./images/iconsSprite.svg#icon-arrow-button"></use>
            </svg> </button>
            </div>
      

            <!--Modal mobile-->

						<div class="backdrop-m-menu is-hidden-m-menu " data-modal-m-menu>
                    <div class="modal-m-menu">
                        <button class="modal-btn" data-modal-m-menu-close>
                            <svg class="modal__icon" width="20" height="20">
                              <use href="./images/iconsSprite.svg#icon-close-white"></use>
                            </svg>
                        </button>
                        <strong class="modal__label">Buy now</strong>
                        
                            <ul class="modal__product-list">
                              <li class="modal__product-item modal__product-item--green">
                                
                                <div class="modal__box-circle modal__box-circle--green">
                                    <img
                                        class="modal__image"
                                        srcset="./images/products/1_md@1x.jpg 1x, ./images/products/1_md@2x.jpg 2x"
                                        src="./images/products/1_md@1x.jpg"
                                        alt="ice-creem"
                                        width="132"
                                        height="132"
                                        loading="lazy"
                                        />
                                        <p class="modal__product-text">ice cream</p>
                               
                                     </div>
                                
                                   </li>

                            <li class="modal__product-item modal__product-item--yellow"> 
                            <div class="modal__box-circle modal__box-circle--yellow">
                                        <img
                                            class="modal__image"
                                            srcset="./images/products/2_md@1x.jpg 1x, ./images/products/2_md@2x.jpg 2x"
                                            src="./images/products/2_md@1x.jpg"
                                            alt="ice-creem"
                                            width="132"
                                            height="132"
                                            loading="lazy"
                                            />
                                    <p class="modal__product-text">ice coffee</p>
                                </div>
                          </li>

                          <li class="modal__product-item modal__product-item--pink"> 
                           <div class="modal__box-circle modal__box-circle--pink">
                                        <img
                                            class="modal__image"
                                            srcset="./images/products/3_md@1x.jpg 1x, ./images/products/3_md@2x.jpg 2x"
                                            src="./images/products/3_md@1x.jpg"
                                            alt="ice-creem"
                                            width="132"
                                            height="132"
                                            loading="lazy"
                                            />
                                    <p class="modal__product-text">milkshake</p>
                            </div>
                            </li>
                            
                          </ul>
                        <form class="modal__form" name="modal__form">
                          <div class="modal__form-group" role="group">
                                    <input
                                        class="modal__input"
                                        type="text"
                                        name="user_name"
                                        id="user_name"
                                        minlength="3"
                                        required
                                        placeholder="Name"
                                    />
                              
                                    <input class="modal__input" 
                                        type="tel" 
                                        name="user_phone"
                                            id="user_phone" 
                                            minlength="3"
                                            required
                                            placeholder="Phone"
                                    />
                               
                                <textarea
                                class="modal__textarea"
                                name="user_message"
                                id="user_message"
                                rows="6"
                                placeholder="Comment"
                                ></textarea>
                          </div>
                          <button class="modal__btn" type="submit">Submit</button>
                        </form>
                    
                    
                </div>
            </div>

       </div>

    </nav>





  </div>
</header>

<!--Модалка -->
 <div class="backdrop2 is-hidden2 " data-modal2>
                    <div class="modal">
                        <button class="modal-btn" data-modal2-close>
                            <svg class="modal-icon" width="20" height="20">
                              <use href="./images/iconsSprite.svg#icon-close-white"></use>
                            </svg>
                        </button>
                        <strong class="modal__label">Buy now</strong>
                        
                            <ul class="modal__product-list">
                              <li class="modal__product-item modal__product-item--green">
                                
                                <div class="modal__box-circle modal__box-circle--green">
                                    <img
                                        class="modal__image"
                                        srcset="./images/products/1_md@1x.jpg 1x, ./images/products/1_md@2x.jpg 2x"
                                        src="./images/products/1_md@1x.jpg"
                                        alt="ice-creem"
                                        width="132"
                                        height="132"
                                        loading="lazy"
                                        />
                                        <p class="modal__product-text">ice cream</p>
                               
                                     </div>
                                
                                   </li>

                            <li class="modal__product-item modal__product-item--yellow"> 
                            <div class="modal__box-circle modal__box-circle--yellow">
                                        <img
                                            class="modal__image"
                                            srcset="./images/products/2_md@1x.jpg 1x, ./images/products/2_md@2x.jpg 2x"
                                            src="./images/products/2_md@1x.jpg"
                                            alt="ice-creem"
                                            width="132"
                                            height="132"
                                            loading="lazy"
                                            />
                                    <p class="modal__product-text">ice coffee</p>
                                </div>
                          </li>

                          <li class="modal__product-item modal__product-item--pink"> 
                           <div class="modal__box-circle modal__box-circle--pink">
                                        <img
                                            class="modal__image"
                                            srcset="./images/products/3_md@1x.jpg 1x, ./images/products/3_md@2x.jpg 2x"
                                            src="./images/products/3_md@1x.jpg"
                                            alt="ice-creem"
                                            width="132"
                                            height="132"
                                            loading="lazy"
                                            />
                                    <p class="modal__product-text">milkshake</p>
                            </div>
                            </li>
                            
                          </ul>
                        <form class="modal__form" name="modal__form">
                          <div class="modal__form-group" role="group">
                                    <input
                                        class="modal__input"
                                        type="text"
                                        name="user_name"
                                        id="user_name"
                                        minlength="3"
                                        required
                                        placeholder="Name"
                                    />
                              
                                    <input class="modal__input" 
                                        type="tel" 
                                        name="user_phone"
                                            id="user_phone" 
                                            minlength="3"
                                            required
                                            placeholder="Phone"
                                    />
                               
                                <textarea
                                class="modal__textarea"
                                name="user_message"
                                id="user_message"
                                rows="6"
                                placeholder="Comment"
                                ></textarea>
                          </div>
                          <button class="modal__btn" type="submit">Submit</button>
                        </form>
                      </div>
                    </div>
                    
              


<script defer src="js/mobile-menu.js"></script>
<script defer src="js/modal-mobile-menu.js"></script>
<script defer src="js/modal-mobile-menu2.js"></script>


