<!-- Розділ розмітка секції Герой -->

<section class="hero">
  <div class="hero--overlay">
  <div class="containerr">
    <!-- загальна обгортка лівої частини-->
    <div class="hero__left-wrap">
      <h1 class="hero__title hero__title--move">ice cream made with
        <span class="hero__title--passion">passion</span>
      </h1>

      <!-- кнопки -->

      <div class="guide-wrap">
        <ul class="guide-wrap__list">
          <li class="guide-wrap__item guide-wrap__item-btn">
            <a class="guide-wrap__link" href="#products">Products</a>
          </li>
          <li class="guide-wrap__item guide-wrap__item-ref">
            <a class="guide-wrap__link" href="#howitsmade">How it’s made?</a>
          </li>
        </ul>
      </div>

      <!-- слайдер поряд із стрілкою -->

      <div class="features-wrap">
        <a class="features-wrap__link" href="">
          <div class="overlay-wrap">
            <div class="hero-features__overlay">
              <p class="hero-features__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et.
              </p>
            </div>
          </div>

          <svg class="hero-features__icon icon--move" width="40px" height="16px">
            <use
              class="icon"
              href="./images/img-hero/svg/hero-arrow.svg#hero-icon-arrow"
            ></use>
          </svg>
        </a>
      </div>
    </div>

    <!-- загальна обгортка правої частини -->

    <div class="hero__right-wrap">
      <div class="image-wrap hero-main__image--mov">
        <img
          class="hero-main__image"
          srcset="
            ./images/img-hero/png/hero-smile-icecream.png 1x,
            ./images/img-hero/png/hero-smile-icecream-2x.png 2x
          "
          src="./images/img-hero/png/hero-smile-icecream.png"
          alt="ice cream with a smiley face"
          width="456"
          height="560"
        />
      </div>

      <div class="hero-service__wrap">
        <ul class="hero-service__list">
          <li class="hero-service__item-cafes">
            <span data-digits-counter class="hero-service__numb hero-service__numb-cafes">16</span>
            <p class="hero-service__text">cafes</p>
          </li>
          <li class="hero-service__item-trucks">
            <span data-digits-counter class="hero-service__numb hero-service__numb-trucks">23</span>
            <p class="hero-service__text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>
