<!-- Розділ розмітка секції Герой -->

<section class="hero hero--overlay">
  <div class="container">
    
    <!-- загальна обгортка лівої частини-->
    <div class="hero__left-wrap">
      <h1 class="hero__title">ice cream made with passion</h1>
    
     <!-- кнопки -->

      <div class="guide-wrap">
        <ul class="guide-wrap__list">
          <li class="guide-wrap__item guide-wrap__item-btn">
            <a class="guide-wrap__link" href="#products">Products</a>
          </li>
          <li class="guide-wrap__item guide-wrap__item-ref">
            <a class="guide-wrap__link" href="#howitsmade">How it’s made?</a>
          </li>
        </ul>
      </div>

      <!-- слайдер поряд із стрілкою -->

      <div class="hero-features">
        <div class="hero-features__thumb">
          <a class="hero-features__thumb-link" href="">
            <div class="overlay-wrap">
              <div class="hero-features__overlay">
                <p class="hero-features__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et.
                </p>
              </div>
            </div>
            <svg class="hero-features__icon" width="40px" height="16px">
              <use
                href="./images/img-hero/svg/hero-arrow.svg#hero-icon-arrow"
              ></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- загальна обгортка правої частини -->

    <div class="hero__right-wrap">
      <div class="hero-service__wrap">
        <ul class="hero-service__list">
          <li class="hero-service__item-cafes">
            <span class="hero-service__numb hero-service__numb-cafes">16</span>
            <p class="hero-service__text">cafes</p>
          </li>
          <li class="hero-service__item-trucks">
            <span class="hero-service__numb hero-service__numb-trucks">23</span>
            <p class="hero-service__text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
