<div class="review">
<section class="customer-reviews">
  <div class="container-swiper">
    <h2 class="visually-hidden">Swiper</h2>
    <div class="container-slider swiper-container">
      <div class="customer-review swiper-wrapper">
        <div class="swiper-slide customer-review-slide">
          <div class="review-data">
            <img class="reviewer-photo" src="./images/CustomerReviews/Emily@2x.png" alt="Emily">
            <div class="customer-review-container"><p class="review-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p></div>
            <p class="reviewer-name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide customer-review-slide">
          <div class="review-data">
            <img class="reviewer-photo" src="./images/CustomerReviews/Diana@2x.png" alt="Diana">
            <div class="customer-review-container"><p class="review-text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like
              the excellent service - always served politely and quickly!</p></div>
            <p class="reviewer-name">Diana, Chicago</p>
          </div>
        </div>
        <div class="swiper-slide customer-review-slide">
          <div class="review-data">
            <img class="reviewer-photo" src="./images/CustomerReviews/Bryan@2x.png" alt="Bryan">
            <div class="customer-review-container"><p class="review-text">Every day we come to you with friends after classes in college. We love your ice
              cream and casual atmosphere!</p></div>
            <p class="reviewer-name">Bryan, New-York</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="./js/customer-reviews.js"></script>
</div>