<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer-reviews</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Seymour+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    
    <link rel="stylesheet" href="./sass/_customerReviews.scss">
</head>
<body>
    <div class="wrapper">
        <div class="slider">
            <div class="customer-reviews">
            <div class="review-image">
               <img 
               srcset="./images/CustomerReviews/Emily-unsplash@1x.jpg 1x, ./images/CustomerReviews/Emily-unsplash@2x.jpg 2x"
               src="./images/CustomerReviews/Emily-unsplash@1x.jpg" alt="Emily-unsplash">
            </div>
            <div class="review-data">
                <img class="reviewer-photo" src="./images/CustomerReviews/Emily@2x.png" alt="Emily">
                <p class="review-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                <p class="reviewer-name">Emily, Los Angeles</p>
                <!-- <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
            </div>
        </div>
        <div class="customer-reviews">
            <div class="review-image">
               <img src="./images/CustomerReviews/Diana-unsplash@1x.jpg" alt="Diana-unsplash">
            </div>
            <div class="review-data">
                <img class="reviewer-photo" src="./images/CustomerReviews/Diana@2x.png" alt="Diana">
                <p class="review-text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
                <p class="reviewer-name">Diana, Chicago</p>
                <!-- <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
            </div>
        </div>
        <div class="customer-reviews">
            <div class="review-image">
               <img 
               src="./images/CustomerReviews/Bryan-unsplash@1x.jpg" alt="Bryan-unsplash">
            </div>
            <div class="review-data">
                <img class="reviewer-photo" src="./images/CustomerReviews/Bryan@2x.png" alt="Bryan">
                <p class="review-text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
                <p class="reviewer-name">Bryan, New-York</p>
                <!-- <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>